.page-layout { 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    min-height: 0;     
}

header {
    height: 48px; 
    display: flex;
    align-items: center;
    justify-content: left;
    overflow-x: auto;
}

header a{
    font-size: 24px;
    color: #333c;
    margin: 0px 12px 0px 12px;
    text-decoration: none;
}

header a:hover {
    color: #cccf;
    text-decoration: underline;
}

header a:active {
    color: #333f;
    text-decoration: underline;
}

main { 
    flex: 1; 
    min-height: 0; 
    padding: 12px; 
    background-color: #cccf; 
}

main .content-layout { 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    min-height: 0;     
}

footer { 
    height: 48px; 
    display: flex;
    align-items: center;
    justify-content: left;
}

footer p {
    font-size: 24px;
    color: #333c;
    margin: 0px 12px 0px 12px;
    text-decoration: none;
}

@media (max-width: 768px) {
    
    header { 
        height: 64px; 
    }

    footer { 
        height: 64px; 
    }
}