.page-layout { 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    /* min-height: 0; */
}

header, footer {
    height: 52px; 
    width: 100vw;
}

main { 
    flex: 1; 
    min-height: 0; 
    padding: 0px; 
    background-color: #cccf; 
}

main .content-layout { 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    /* min-height: 0; */
    /* overflow-y: auto; */
}

@media (max-width: 768px) {
    
    /* header { 
        height: 64px; 
    }

    footer { 
        height: 64px; 
    } */
}