html, body { 
    height: 100%;
	margin: 0; 
	padding: 0; 
}

#root, .app { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    font-family: 'OCRA', monospace;  
}

@import "tabulator-tables/dist/css/tabulator.min.css";
@import "./styles/Layout.css";
@import "./styles/Style.css";